[submodule "rekam-medis-service"]
	path = rekam-medis-service
	url = https://github.com/fathyaa/rekam-medis-service.git
[submodule "rawat-inap-service"]
	path = rawat-inap-service
	url = https://github.com/adnadeaa31/rawat-inap-service.git
[submodule "DataIndividu"]
	path = DataIndividu
	url = https://github.com/nyayunajlaapr/DataIndividu.git
[submodule "rawat_jalan_service"]
	path = rawat_jalan_service
	url = https://github.com/kamiliaputri23/rawat_jalan_service.git
